<%--
 * textarea.tag
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 --%>

<%@ tag language="java" body-content="empty"%>

<%-- Taglibs --%>

<%@ taglib prefix="jstl" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="security"
	uri="http://www.springframework.org/security/tags"%>
<%@ taglib prefix="acme" tagdir="/WEB-INF/tags"%>

<%-- Attributes --%>

<%@ attribute name="path" required="true"%>
<%@ attribute name="code" required="true"%>

<%@ attribute name="required" required="false"%>
<%@ attribute name="readonly" required="false"%>

<%-- Definition --%>

<div class="form-group">

	<jstl:if test="${required == null}">
		<form:label path="${path}">
			<spring:message code="${code}" />
		</form:label>
		<form:textarea path="${path}" readonly="${readonly}" />
		<form:errors path="${path}" cssClass="error" />
	</jstl:if>
	
	<jstl:if test="${required != null}">
		<form:label path="${path}">
				<spring:message code="${code}" />
			</form:label>
			<form:textarea path="${path}" readonly="${readonly}"
				required="${required}" />
		<form:errors path="${path}" cssClass="error" />
	</jstl:if>
		
</div>
